
footer{
    background-color: #353535;
    color:#FFFFFF;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 22px 25px;
}

.footer-item {
    display: flex;
    align-items: center; 
    gap: 7px;
}

// styles pour les tablettes.
@media (min-width: 767.99px) {

    footer{
        display: flex;
        flex-direction: row-reverse;
    }

    .inverse{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 7px;
    }

    
}