@import '';
@import '';
@import '';
@import '';
@import '';
@import 'compenents/index.scss';


body {
    margin: 0 auto;
    max-width: 1440px;
    background: #FFFFFF;
    font-family: $font-text;
}

img {
    object-fit: cover;
    aspect-ratio: 16 / 9;
    width: 100%;
}

a{
    text-decoration: inherit;
    color: inherit;
}

.other-page h1{
    font-family: $font-title;
    font-weight: 400;
}

.other-page h2{
    font-size: 1rem;
    font-weight: 300;
    position: relative;

    &::after {
        content: ''; // Nécessaire pour afficher le pseudo-élément
        display: block;
        width: 12%; // La largeur du soulignement 
        height: 3px; // Épaisseur du soulignement
        background-color: $tertiary-color; // Couleur de votre soulignement
        position: absolute;
        bottom: -3px; // Ajuste la position verticale en fonction de l'épaisseur
    }
}

h3{
    font-size: 1.125rem;
}

