@import '_variables.scss';
@import 'header.scss';
@import '_main.scss';
@import '_footer.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    max-width: 1440px;
    background: #FFFFFF;
    font-family: $font-text;
}

img {
    object-fit: cover;
    aspect-ratio: 16 / 9;
    width: 100%;
}

.other-page h1{
    font-family: $font-title;
    font-weight: 400;
}

.other-page h2{
    font-size: 1rem;
    font-weight: 300;
    border-bottom:$tertiary-color 3px solid;
}

// styles pour les tablettes.
@media (min-width: 767.99px) {

    header{
        height: 113px;
    }

}

// styles pour les ordinateurs.
@media (min-width: 1024px) {

    header{
        height: 146px;
    }

    .logo img{
        width: 200px;
    }

    address{
        box-shadow: none;
    }
}
