header {
  height: auto;
  display: flex;
  flex-direction: column;
}

nav {
  height: 63px;
  display: flex;
  align-items: center;
  position: relative;
}
nav svg {
  margin-left: 17px;
  display: flex;
  align-items: center;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.logo img {
  height: auto;
  width: 162px;
  -o-object-fit: contain;
     object-fit: contain;
}

address {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  font-style: normal;
  background-color: #EAEAEA;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}

@media (min-width: 767.99px) {
  header {
    height: 113px;
  }
}
@media (min-width: 1024px) {
  header {
    height: 146px;
  }
  .other-page header {
    height: auto;
  }
  .logo img {
    width: 200px;
  }
  .picture img {
    height: 383px;
  }
  address {
    box-shadow: none;
  }
}
.btn {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 25px;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  color: #fff;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  font-weight: 500;
  font-size: 1rem;
}

.btn-explore {
  width: 218px;
}
.btn-explore:hover {
  opacity: 0.8;
}

.btn-menu {
  height: 72.38px;
  border-radius: 20px;
  color: #000000;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  background: #F6F6F6;
  justify-content: flex-start;
  gap: 15px;
}

.btn-card {
  height: 69px;
  border-radius: 15.04px;
  box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1019607843);
  padding: 15px;
  color: #000000;
  background: #fff;
}

.btn-commander {
  width: 186px;
}

main {
  background-color: #F6F6F6;
}

.other-page main {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.explore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 34px;
  padding-top: 39px;
}

.explore h1 {
  margin-left: 12px;
}

.explore p {
  font-weight: 300;
  font-size: 1.125rem;
}

.functioning, .places {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.places {
  margin-top: 40px;
  margin-bottom: 40px;
}

.functioning {
  background: #FFFFFF;
}

.function {
  height: 72.38px;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.entries, .dish, .dessert {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.image-new {
  position: relative;
  display: inline-block;
}
.image-new::after {
  content: "";
  position: absolute;
  top: 13px;
  right: 10px;
  width: 80px;
  height: 29px;
  background-image: url("../assets/Nouveau.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.restaurants a {
  height: 251px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
}
.restaurants a img {
  height: 231px;
  border-radius: 15px 15px 0 0;
}

.card-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.card-txt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media (min-width: 767.99px) {
  .menu {
    display: flex;
    justify-content: space-around;
    gap: 25px;
  }
  aside {
    flex-direction: row;
  }
}
@media (min-width: 1024px) {
  .other-page main {
    width: 1221px;
    margin: 0 8%;
    gap: 40px;
  }
}
footer {
  background-color: #353535;
  color: #FFFFFF;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 22px 25px;
}

.footer-item {
  display: flex;
  align-items: center;
  gap: 7px;
}

@media (min-width: 767.99px) {
  footer {
    height: 114px;
    display: flex;
    flex-direction: row-reverse;
  }
  .inverse {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
  }
}
svg {
  fill: none;
  cursor: pointer;
}
svg.clicked {
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
}

.btn svg {
  fill: none;
}
.btn svg:active {
  background: #9356dc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 1440px;
  background: #FFFFFF;
  font-family: "Roboto", serif;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 16/9;
  width: 100%;
}

a {
  text-decoration: inherit;
  color: inherit;
}

.other-page h1 {
  font-family: "Shrikhand", serif;
  font-weight: 400;
}

.other-page h2 {
  font-size: 1rem;
  font-weight: 300;
  position: relative;
}
.other-page h2::after {
  content: "";
  display: block;
  width: 12%;
  height: 3px;
  background-color: #99e2d0;
  position: absolute;
  bottom: -3px;
}

h3 {
  font-size: 1.125rem;
}/*# sourceMappingURL=style.css.map */