footer{
    background-color: $footer-background-color;
    @include dimension(100%, 186px);
    @include textStyle(500, normal, $font-text, $color:$background-color);
    @include padding(22px, 25px,22px, 25px);

    a{
        text-decoration: inherit; 
        color: inherit;
    }
    
    .footer-title{
        @include dimension(139px, 27px);
    }
    
    .footer-item{
        @include d-Flex(flex-start, center);
        gap: 11px;
    }
}

@media (min-width: 768px) {

    footer{
        @include dimension(100%, 114px);
        background-color: $footer-background-color;
        @include d-Flex(flex-start, center, row-reverse);
        gap: 16px;

        .footer-nav{
            @include d-Flex(flex-start, center);
            gap: 16px;
        }

        .footer-party{
            @include d-Flex(center, center);
            gap: 7px;
        }
    }


}