.btn{
    @include dimension(218px, 50px);
    @include d-Flex(center, center, row);
    cursor: pointer;
    background: linear-gradient(193.33deg, $primary-color -11.44%, $secondary-color 123.93%);
    @include textStyle(500, $fontFamily: $font-text, $color: $background-color);
    @include border(25px, none);
    @include shadow($shadows: 0px 4px 10px 0px rgba(0, 0, 0, 0.26));

    &:hover{
        opacity: 0.8;
        @include shadow($shadows: 0px 4px 10px 0px rgba(0, 0, 0, 0.70));
    }
}

.btn-function{
    @include dimension(100%, 72.38px);
    @include d-Flex(center, center, row);
    cursor: pointer;
    gap: 20px;
    background: $secondary-background-color;
    color: black; 
    @include border(20px);
    @include shadow($shadows: 0px 4px 10px 0px rgba(0, 0, 0, 0.15));
   
}

//Changer l'état du SVG en couleur //
.btn-function svg path {
  fill: #7E7E7E; 
  transition: fill 0.2s ease-in-out;
}

.btn-function:focus svg path{
  fill: $primary-color;
}


.btn-card{
    @include dimension(100%, 69px);
    @include d-Flex(flex-start, center);
    cursor: pointer;
    @include padding(13.5px, 0, 13.5px, 15px);
    background: $background-color;
    font-size: 20px;
    @include border(15.04px, none);
    @include shadow($shadows:0px 4.01px 15.04px 0px #0000001A);
    position: relative;
    overflow: hidden;
}

.btn-card:hover > .card-food > .info {
    width: calc(100% - 69px);
}

.btn-card:hover > .card-food > .price {
    transform: translateX(-69px);
}

.btn-card:hover > .check-box {
    transform: translateX(0px);
}

.btn-card:hover > .check-box > i {
    animation: check-circle 1.2s ease-in-out forwards;
}   
