.btn{
    @include dimension(218px, 50px);
    @include d-Flex(center, center, row);
    background: linear-gradient(193.33deg, $primary-color -11.44%, $secondary-color 123.93%);
    @include textStyle(500, $fontFamily: $font-text, $color: $background-color);
    @include border(25px, none);
    @include shadow($shadows: 0px 4px 10px 0px #00000040);

    &:hover{
        opacity: 0.8;
    }
}

.btn-function{
    gap: 20px;
    @include dimension(100%, 72.38px);
    background: $secondary-background-color;
    color: black; 
    @include border(20px);
}

.btn-card{
    @include dimension(100%, 69px);
    @include d-Flex(space-between, flex-end);
    @include padding(13.5px, 13.5px, 13.5px, 15px);
    background: $background-color;
    font-size: 20px;
    @include border(15.04px, none);
    @include shadow($shadows:0px 4.01px 15.04px 0px #0000001A);
    overflow: hidden;
    position: relative;
}

.btn-card::before{
    position: absolute;
    content: "";
    background: $tertiary-color;
    top: 0;
    right: -60px;
    height: 69px;
    width: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-card:hover::before{
    right: 0;
    width: 20%;
    transition: 600ms ease-in;
}