.restaurant-favorite{
    // position: relative;
    overflow: hidden;  
}

.icon-empty{ 
    position: absolute;
    cursor: pointer;
    font-size: 22px;
    z-index: 2;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}

.icon-empty:hover{
    color: transparent;
}

.icon-fill{
    position: absolute;
    cursor: pointer;
    font-size: 22px;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.icon-fill:hover{
    opacity: 1;
    color: red;
    // background-color: linear-gradient(0deg, $primary-color, $secondary-color);
}

.check-box{
    @include d-Flex(center, center);
    background-color: $tertiary-color;
    width: 59px;
    height: 69px;
    top: 0;
    transform: translateX(69px);
    transition: all 0.5s ease-in-out;

    &.btn-card {
        transform: translateX(0);
    }
}


.fa-circle-check{
    color: $background-color;
    transform: rotate(0deg);
    animation: check-circle 2s ease-in-out forwards;
}

@keyframes check-circle{
    0% {
        transform: rotate(-360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
