  // ICON HEART //
.icon-empty {
    position: absolute;
    cursor: pointer;
    font-size: 22px;
    z-index: 2;
    transition: opacity 0.3s ease-in-out;
    color: black;         
    background-color: $secondary-background-color;     
  }
  
  .icon-fill {
    cursor: pointer;
    font-size: 22px;
    z-index: 1; 
    color: transparent;
    background: linear-gradient(45deg, $primary-color, $secondary-color);
    background-clip: text; /* L’arrière-plan ne s'affiche que sur le texte */
    -webkit-background-clip: text; /* Nécessaire pour Chrome & Safari */
    -webkit-text-fill-color: transparent; /* Rend le texte transparent pour voir le fond */
    transition: opacity 0.3s ease-in-out;
    opacity: 1; 
  }
  
  .icon-empty:hover {
    opacity: 0;
  }



  // ICON CHECK BOX //
.check-box{
    @include d-Flex(center, center);
    background-color: $tertiary-color;
    min-width: 59px;
    height: 69px;
    top: 0;
    transform: translateX(69px);
    transition: all 0.5s ease-in-out;

    &.btn-card {
        transform: translateX(0);
    }
}

.fa-circle-check{
    color: $background-color;
    transform: rotate(0deg);
}

@keyframes check-circle{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}