.fa-heart{  
    font-size: 22px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

// :checked
.fa-heart:hover{
    background: linear-gradient(to bottom, $primary-color,$secondary-color); 
}

.check-box{
    @include d-Flex(center, center);
    background-color: $tertiary-color;
    width: 59px;
    height: 69px;
    top: 0;
    transform: translateX(69px);
    transition: all 0.5s ease-in-out;

    &.btn-card {
        transform: translateX(0);

        .fa-circle-check {
            transform: rotate(360deg);
        }
    }
}


.fa-circle-check{
    transition: all 1s ease-in-out;
    transform: rotate(0deg);
}

.fa-circle-check:hover{
    transform: rotate(-360deg);
}
