/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

.btn {
  width: 218px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  font-family: "Roboto", serif;
  color: #FFFFFF;
  border-radius: 25px;
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.26);
}
.btn:hover {
  opacity: 0.8;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.7);
}

.btn-function {
  width: 100%;
  height: 72.38px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  gap: 20px;
  background: #F6F6F6;
  color: black;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
}

.btn-function svg path {
  fill: #7E7E7E;
  transition: fill 0.2s ease-in-out;
}

.btn-function:focus svg path {
  fill: #9356dc;
}

.btn-card {
  width: 100%;
  height: 69px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  padding-top: 13.5px;
  padding-right: 0;
  padding-bottom: 13.5px;
  padding-left: 15px;
  background: #FFFFFF;
  font-size: 20px;
  border-radius: 15.04px;
  border: none;
  box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1019607843);
  position: relative;
  overflow: hidden;
}

.btn-card:hover > .card-food > .info {
  width: calc(100% - 69px);
}

.btn-card:hover > .card-food > .price {
  transform: translateX(-69px);
}

.btn-card:hover > .check-box {
  transform: translateX(0px);
}

.restaurant-favorite {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  overflow: hidden;
}

.heart-empty {
  position: absolute;
  cursor: pointer;
  z-index: 2;
  color: linear-gradient(to bottom, #9356dc, #ff79da);
  overflow: hidden;
}

.heart-empty:active {
  opacity: 1;
}

.heart-fill {
  position: absolute;
  color: transparent;
  cursor: pointer;
  opacity: 1;
  transition: 0.3s ease-in-out;
}

.heart-fill:active {
  color: red;
  opacity: 0;
}

.check-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #99e2d0;
  width: 59px;
  height: 69px;
  top: 0;
  transform: translateX(69px);
  transition: all 0.5s ease-in-out;
}
.check-box.btn-card {
  transform: translateX(0);
}

.fa-circle-check {
  color: #FFFFFF;
  transform: rotate(0deg);
  animation: check-circle 2s ease-in-out forwards;
}

@keyframes check-circle {
  0% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
footer {
  background-color: #353535;
  width: 100%;
  height: 186px;
  font-weight: 500;
  font-style: normal;
  font-size: "Roboto", serif;
  font-family: "Roboto", serif;
  color: #FFFFFF;
  padding-top: 22px;
  padding-right: 25px;
  padding-bottom: 22px;
  padding-left: 25px;
}
footer a {
  text-decoration: inherit;
  color: inherit;
}
footer .footer-title {
  width: 139px;
  height: 27px;
}
footer .footer-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 11px;
}

@media (min-width: 768px) {
  footer {
    width: 100%;
    height: 114px;
    background-color: #353535;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row-reverse;
    gap: 16px;
  }
  footer .footer-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 16px;
  }
  footer .footer-party {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 7px;
  }
}
header nav {
  background-color: #FFFFFF;
  width: 100%;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
}
header nav svg {
  position: absolute;
  left: -1px;
  top: 17px;
  margin-left: 17px;
}
header nav img {
  width: 196px;
  height: 36px;
  object-fit: contain;
}
header .picture {
  width: 100%;
  height: 275px;
}

main {
  background-color: #F6F6F6;
  margin-top: -32px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  position: relative;
  border-radius: 40px 40px 0 0;
}
main h1 {
  font-weight: 400;
  font-style: italic;
  font-size: 1.75rem;
  font-family: "Shrikhand", serif;
  color: #000;
}
main h2 {
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  font-family: "Roboto", serif;
  color: #000;
  border-bottom: 3px solid #99e2d0;
  width: 11.5%;
}
main h3 {
  font-weight: 500;
  font-style: normal;
  font-size: 1.125rem;
  font-family: "Roboto", serif;
  color: #000;
}
main p {
  font-weight: 300;
  font-style: normal;
  font-size: 0.963rem;
  font-family: "Roboto", serif;
  color: #000;
}

.title-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-top: 32px;
  padding-right: 17px;
  padding-bottom: 40px;
  padding-left: 17px;
}

.entries, .dish, .dessert {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 12px;
  margin-top: 0;
  margin-right: 13px;
  margin-bottom: 40px;
  margin-left: 13px;
  animation: slide 4000ms cubic-bezier(0.77, 0.01, 0.49, 1.71) forwards;
  opacity: 0;
  transform: translateX(200px);
}

.entries {
  animation-delay: 0.5s;
}

.dish {
  animation-delay: 1.25s;
}

.dessert {
  animation-delay: 2s;
}

@keyframes slide {
  0% {
    transform: translateZ(-500px);
    opacity: 0;
    scale: 0.5;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
    scale: 1;
  }
}
.card-food {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
  gap: 5px;
}

.info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price {
  margin-right: -35px;
  transition: all 0.5s ease-in-out;
}
.price p {
  font-weight: 700;
  font-style: normal;
  font-size: 0.936rem;
  font-family: "Roboto", serif;
  color: #000;
}

.commandant {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-top: 0px;
  padding-right: 0;
  padding-bottom: 40px;
  padding-left: 0;
}

@media (min-width: 768px) {
  main {
    margin-top: -32px;
    margin-right: 100px;
    margin-bottom: 0;
    margin-left: 100px;
    position: relative;
  }
  main .entries, main .dish, main .dessert {
    padding-top: 0;
    padding-right: 100px;
    padding-bottom: 40px;
    padding-left: 100px;
  }
}
@media (min-width: 1024px) {
  body {
    max-width: 1440px;
  }
  header nav {
    width: 100%;
    height: 96.34px;
  }
  header nav svg {
    position: absolute;
    left: -1px;
    top: 33px;
    margin-left: 17px;
  }
  header .picture {
    width: 100%;
    height: 383px;
  }
  main {
    margin-top: -32px;
    margin-right: 192px;
    margin-bottom: 0;
    margin-left: 192px;
    position: relative;
  }
  main h2 {
    width: 6.5%;
  }
  main .title-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 24px;
  }
  main .entries, main .dish, main .dessert {
    padding-top: 0;
    padding-right: 210px;
    padding-bottom: 40px;
    padding-left: 210px;
  }
}

/*# sourceMappingURL=restaurants.css.map */
