/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
  aspect-ratio: 16/9;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

.btn {
  width: 218px;
  height: 50px;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  font-family: "Roboto", serif;
  color: #FFFFFF;
  border-radius: 15px;
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
}

.btn-function {
  width: 100%;
  height: 72.38px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 23px;
  background: #F6F6F6;
  color: black;
  border-radius: 20px;
  border: none;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 63px;
}
header img {
  width: 197px;
  height: 36px;
}
header address {
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 17px;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  font-family: "Roboto", serif;
  color: #000;
  width: 100%;
  height: 50px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
header .explore {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer {
  background-color: #353535;
  width: 100%;
  height: 186px;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  font-family: "Roboto", serif;
  color: #FFFFFF;
  padding-top: 22px;
  padding-right: 25px;
  padding-bottom: 22px;
  padding-left: 25px;
}
footer .footer-nav {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 7px;
}
footer .footer-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #FFFFFF;
}
body a {
  text-decoration: inherit;
  color: inherit;
}
body h2 {
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  font-family: "Roboto", serif;
  color: #000;
}
body h3 {
  font-weight: 700;
  font-style: normal;
  font-size: 1.125rem;
  font-family: "Roboto", serif;
  color: #000;
}

main .function {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 48px;
  margin-right: 0;
  margin-bottom: 68px;
  margin-left: 20px;
  gap: 26px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

.places {
  background-color: #F6F6F6;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-top: 54px;
  padding-right: 20px;
  padding-bottom: 66px;
  padding-left: 20px;
  gap: 18px;
}
.places aside {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 18px;
}
.places article {
  border-radius: 15px;
  border: none;
}
.places article img {
  object-fit: cover;
}
.places .card-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-top: 16px;
  padding-right: 25px;
  padding-bottom: 12px;
  padding-left: 13px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
}

/*# sourceMappingURL=style.css.map */
