@charset "UTF-8";
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

.btn {
  width: 218px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  font-family: "Roboto", serif;
  color: #FFFFFF;
  border-radius: 25px;
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
}
.btn:hover {
  opacity: 0.8;
}

.btn-function {
  gap: 20px;
  width: 100%;
  height: 72.38px;
  background: #F6F6F6;
  color: black;
  border-radius: 20px;
  border: none;
}

.btn-card {
  width: 100%;
  height: 69px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
  padding-top: 13.5px;
  padding-right: 13.5px;
  padding-bottom: 13.5px;
  padding-left: 15px;
  background: #FFFFFF;
  font-size: 20px;
  border-radius: 15.04px;
  border: none;
  box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1019607843);
  overflow: hidden;
  position: relative;
}

.btn-card::before {
  position: absolute;
  content: "";
  background: #99e2d0;
  top: 0;
  right: -60px;
  height: 69px;
  width: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-card:hover::before {
  right: 0;
  width: 20%;
  transition: 600ms ease-in;
}

.fa-heart {
  font-size: 22px;
  cursor: pointer;
}

.fa-heart:hover {
  background: linear-gradient(to bottom, #9356dc, #ff79da);
}

.loader-container {
  max-width: 1440px;
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background: radial-gradient(#99e2d0, #ff79da, #9356dc);
  opacity: 0.6;
  animation: fadeOut 2s ease forwards 3000ms;
}

.loader-span {
  display: flex;
  font-weight: 500;
  font-style: italic;
  font-size: 2rem;
  font-family: "Shrikhand", serif;
  color: #000;
}

.circle-loader {
  display: block;
  position: relative;
  left: 0;
  top: 0;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 9px solid transparent;
  border-top-color: #9356dc;
  animation: spin 2s linear infinite;
}

.circle-loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 7px solid transparent;
  border-top-color: #ff79da;
  animation: spin 3s linear infinite;
}

.circle-loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: #99e2d0;
  animation: spin 1.5s linear infinite;
}

@keyframes fadeOut {
  0% {
    opacity: 1; /* Entièrement visible */
  }
  100% {
    opacity: 0; /* Complètement invisible */
    pointer-events: none; /* Désactive les clics après l'animation */
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F6F6F6;
  text-align: center;
}
header h1 {
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  font-family: "Roboto", serif;
  color: #000;
  padding-top: 39.5px;
  padding-right: 58px;
  padding-bottom: 0;
  padding-left: 42px;
  margin-bottom: 10px;
}
header p {
  font-weight: 300;
  font-style: normal;
  font-size: 1.125rem;
  font-family: "Roboto", serif;
  color: #000;
  padding-top: 0;
  padding-right: 26px;
  padding-bottom: 27px;
  padding-left: 34px;
}
header nav {
  background-color: #FFFFFF;
  width: 100%;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
header img {
  width: 196px;
  height: 36px;
  object-fit: contain;
}
header address {
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 17px;
  font-weight: 500;
  font-style: normal;
  font-size: "Roboto", serif;
  font-family: "Roboto", serif;
  color: #000;
  width: 100%;
  height: 50px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
header .btn {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 57px;
  margin-left: 0;
}

@media (min-width: 1024px) {
  header nav {
    width: 100%;
    height: 96px;
  }
  header img {
    width: 200px;
    height: 34.2px;
  }
}
footer {
  background-color: #353535;
  width: 100%;
  height: 186px;
  font-weight: 500;
  font-style: normal;
  font-size: "Roboto", serif;
  font-family: "Roboto", serif;
  color: #FFFFFF;
  padding-top: 22px;
  padding-right: 25px;
  padding-bottom: 22px;
  padding-left: 25px;
}
footer a {
  text-decoration: inherit;
  color: inherit;
}
footer .footer-title {
  width: 139px;
  height: 27px;
}
footer .footer-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 11px;
}

@media (min-width: 768px) {
  footer {
    width: 100%;
    height: 114px;
    background-color: #353535;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row-reverse;
    gap: 16px;
  }
  footer .footer-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 16px;
  }
  footer .footer-party {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 7px;
  }
}
body {
  background-color: #FFFFFF;
}
body a {
  text-decoration: inherit;
  color: inherit;
}
body h2 {
  width: 100%;
  height: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  font-family: "Roboto", serif;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
body .fa-regular {
  font-size: 22px;
  cursor: pointer;
}

main .function {
  padding-top: 48px;
  padding-right: 20px;
  padding-bottom: 68px;
  padding-left: 20px;
}
main .function h3 {
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  font-family: "Roboto", serif;
  color: #000;
}
main .function p {
  font-weight: 500;
  font-style: normal;
  font-size: 0.875rem;
  font-family: "Roboto", serif;
  color: #FFFFFF;
  border-radius: 50%;
  border: none;
  width: 24px;
  height: 24px;
  background-color: #9356dc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
main .function-box {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 26px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  position: relative;
}
main .number-button {
  position: absolute;
  left: -12px;
}
main .places {
  background-color: #F6F6F6;
  padding-top: 54px;
  padding-right: 20px;
  padding-bottom: 50px;
  padding-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}
main .places h3 {
  font-weight: 700;
  font-style: normal;
  font-size: 1.125rem;
  font-family: "Roboto", serif;
  color: #000;
}
main .places p {
  font-weight: 300;
  font-style: normal;
  font-size: 1.063rem;
  font-family: "Roboto", serif;
  color: #000;
}
main .places article {
  width: 100%;
  height: auto;
  position: relative;
}
main .places .image-new {
  position: absolute;
  right: 5px;
  top: 8px;
}
main .places .fa-heart {
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 10;
}
main .places .card-restaurants {
  border-radius: 15px;
  border: none;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
  margin-bottom: 16px;
}
main .places .card-restaurants img {
  width: 100%;
  height: auto;
  border-radius: 15px 15px 0 0;
}
main .places .card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-top: 16px;
  padding-right: 25px;
  padding-bottom: 12px;
  padding-left: 13px;
}

@media (min-width: 768px) {
  .function {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .container-function {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 36px;
  }
  .container-places {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 50px;
  }
  article {
    max-width: 45%;
  }
}
@media (min-width: 1024px) {
  body {
    max-width: 1440px;
  }
  main .function {
    padding-top: 50px;
    padding-right: 207px;
    padding-bottom: 50px;
    padding-left: 180px;
  }
  main .places {
    padding-top: 30px;
    padding-right: 180px;
    padding-bottom: 30px;
    padding-left: 180px;
  }
  main .places .card-restaurants img {
    width: 100%;
    height: 174px;
  }
  main .places .fa-heart {
    position: absolute;
    right: 25px;
    bottom: 33px;
    z-index: 10;
  }
  .footer-party {
    padding-right: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
