@import '../abstracts/_variables.scss';
@import '../abstracts/_mixin.scss';
@import '../base/_reset.scss';
@import '../compenents/_button.scss';
@import '../compenents/_icons.scss';
@import '../compenents/_loader.scss';
@import '../layout/_header.scss';
@import '../layout/_footer.scss';


body {
    background-color: $background-color;

    a{
        text-decoration: inherit; 
        color: inherit;
    }

    h2{
        @include dimension(100%, auto);
        @include textStyle(700, normal, 1.5rem, $font-text);
        @include d-Flex(center, flex-start, column);
    }

    .fa-regular{
        font-size: 22px;
        cursor: pointer;
    }
}

main {
    
    .function{
        @include padding(48px, 20px, 68px, 20px);

        h3{
            @include textStyle(500, normal, 1rem, $font-text);
        }

        p{
            @include textStyle(500, normal, 0.875rem, $fontFamily: $font-text, $color: $background-color);
            @include border(50%);
            @include dimension(24px, 24px);
            background-color: $primary-color;
            @include d-Flex(center, center);
        }
    }

    .function-box{
        @include dimension(100%, auto);
        @include d-Flex(center, center);
        @include margin(26px);
        position: relative; // Doit toujours être présent dans la div parent pour avoir une action sur la div enfant.
    }

    .number-button{
        position: absolute; //Doit être positionner dans la div enfant pour pouvoir le déplacer.
        left: -12px;
    }
    
    .places{
        background-color: $secondary-background-color;
        @include padding(54px, 20px, 50px, 20px);
        @include d-Flex(center, center, column);
        gap: 16px;
    
        h3{
            @include textStyle(700, normal, 1.125rem, $font-text);
        }
    
        p{
            @include textStyle(300, normal, 1.063rem, $font-text);
        }
        
        article{
            @include dimension(100%, auto);
            position: relative;
        }
        
        .image-new{
            position: absolute;
            right: 5px;
            top: 8px;
        }
        
        .fa-heart{
            position: absolute;
            right: 20px;
            bottom: 20px;
            z-index: 10;
        }
        
        .card-restaurants{
            @include border(15px);  
            @include shadow($shadows: 0px 4px 15px 0px #0000001A);
            margin-bottom: 16px;

            img{
                @include dimension(100%, auto);
                border-radius: 15px 15px 0 0;
            }
        }
        
        .card-info{
            @include d-Flex(space-between, center);
            @include padding(16px, 25px, 12px, 13px);
        }
    }
}



@media (min-width: 768px) {


    .function{
        @include d-Flex(center, center, column);
    }

    .container-function{
        @include dimension(100%, auto); 
        @include d-Flex(center, center);
        gap: 36px;
    }

    .container-places{
        @include dimension(100%, auto); 
        flex-wrap: wrap;
        @include d-Flex(space-between, center);
        gap: 50px;
    }

    article{
        max-width: 45%;
    }
}

@media (min-width: 1024px) {

    body{
        max-width: 1440px;
    }

    main{

        .function{
            @include padding(50px, 207px, 50px, 180px);
        }

        .places{
            @include padding(30px, 180px, 30px, 180px);
            
            .card-restaurants img{
                @include dimension(100%, 174px);
            }

            .fa-heart{
                position: absolute;
                right: 25px;
                bottom: 33px;
                z-index: 10;
            }
        }
    }

    .footer-party{
        padding-right: 30px;
    }
}
