@import '../abstracts/_variables.scss';
@import '../abstracts/_mixin.scss';
@import '../base/_reset.scss';
@import '../compenents/_button.scss';
@import '../compenents/svg';
@import '../layout/_footer.scss';



header{
    nav{
        background-color: $background-color;
        @include dimension(100%, 63px);
        @include d-Flex(center, center);
        position: relative;

        svg{
            position: absolute;
            left: -1px;
            top: 17px;
            margin-left: 17px;
        }

        img{
            @include dimension(196px, 36px);
            object-fit: contain;
        }
    }

    .picture{
        @include dimension(100%, 275px);
    }
}

main{
    background-color: $secondary-background-color;
    @include margin(-32px);
    position: relative;
    border-radius: 40px 40px 0 0;

    h1{
        @include textStyle(400, italic, 1.75rem, $font-title);
    }

    h2{
        @include textStyle(300, normal, 1rem,);
        border-bottom: 3px solid $tertiary-color;
        width: 11.5%;
    }

    h3{
        @include textStyle(500, normal, 1.125rem);
    }

    p{
        @include textStyle(300, normal, 0.963rem);
    }
}

.title-card{
    @include d-Flex(space-between, center);
    @include padding(32px, 17px, 40px, 17px);
}

.entries, .dish, .dessert {
    @include d-Flex(center, flex-start, column);
    gap: 12px;
    @include margin(0, 13px, 40px, 13px);
    animation: slide 4000ms cubic-bezier(0.77, 0.01, 0.49, 1.71) forwards;
    opacity: 0;
    transform: translateX(200px); 
}

.entries {
    animation-delay: 0.5s;
}

.dish {
    animation-delay: 1.25s;
}

.dessert {
    animation-delay: 2s;
}

@keyframes slide {
    0% {
        transform: translateZ(-500px);
        opacity: 0;
        scale: (0.5);
    }
    100% {
        transform: translateZ(0);
        opacity: 1;
        scale: (1);
    }
}

.card-food{
    width: 100%;
    @include d-Flex(space-between, flex-end);
    gap: 5px;
}

.info{
    @include d-Flex(center, flex-start, column);

    h3, p{
        display: block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

.price{
    margin-right: -49px;
    transition: all 0.5s ease-in-out;

    p{
    @include textStyle(700, normal, 0.936rem);
    }
}

.commandant{
    @include d-Flex(center, center);
    @include padding(0px, 0, 40px, 0);
}

@media (min-width: 768px) {

    main{
        @include margin(-32px, 100px, 0, 100px);
        position: relative;

        .entries, .dish, .dessert{
            @include padding(0, 100px, 40px, 100px);
        }
    }
}

@media (min-width: 1024px) {

    body{
        max-width: 1440px;
    }

    header{
        nav{
            @include dimension(100%, 96.34px);

            svg{
                position: absolute;
                left: -1px;
                top: 33px;
                margin-left: 17px;
            }
        }

        .picture{
            @include dimension(100%, 383px);
        }
    }

    main{
        @include margin(-32px, 192px, 0, 192px);
        position: relative;

        h2{
            width: 6.5%;
        }
    

        .title-card{
            @include d-Flex(center, center);
            gap: 24px;
        }

        .entries, .dish, .dessert{
            @include padding(0, 210px, 40px, 210px);
        }
    }
}